h1 {
  text-align: center;
  color: blueviolet;
  margin: 0 auto;
}
h2 {
  text-align: center;
  border: solid 3px blueviolet;
  padding: 20px;
  border-radius: 10px;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  border-radius: 20px;
}
p {
  line-height: 1.5;
  text-align: justify;
  padding: 10px;
}
button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background-color: blueviolet;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: all 200ms ease-in-out;
}

body {
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
}

button:hover {
  opacity: 0.9;
  color: black;
  cursor: pointer;
}
.container {
  max-width: 600px;
  margin: 0 auto;
}
.author {
  text-align: center;
}
.learn-more {
  display: block;
  text-decoration: none;
  padding-left: 10px;
  margin: 0 auto;
}
.learn-more:hover {
  text-decoration: underline;
}
